include README.md
include LICENSE
include pyproject.toml
recursive-include kore_fileformat *
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude *.egg-info
global-exclude .git*
global-exclude *.so
global-exclude *.o
